<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, optio provident quam nam id odit voluptates obcaecati, architecto voluptas temporibus aperiam quos ea, magni accusamus. Minus molestias similique ex neque.</p>
    </div>
</div>